.ct-label {
	font-size: 12pt;
	color: black;
}

.ct-chart {
	padding-right: 100px;
}

.ct-series-a .ct-bar {
	stroke: #cd7f32;

}

.ct-series-a line {
	border: 1px solid black;
}

.ct-series-b .ct-bar {
	stroke: #c0c0c0;
}

.ct-series-c .ct-bar {
	stroke: #ffd700;
}

